*.h   filter=convert-cr
*.c   filter=convert-cr
*.cc   filter=convert-cr
*.cp   filter=convert-cr
*.cpp   filter=convert-cr
*.r   filter=convert-cr
*.html   filter=convert-cr
"Read Me"   filter=convert-cr
"description"   filter=convert-cr
"pr"   filter=convert-cr
"blurb"   filter=convert-cr
"Journal"   filter=convert-cr
"TODO"   filter=convert-cr
"Release Notes"   filter=convert-cr

# Linguist thinks that .r files are Rebol, try to convince it to not consider them at all
# (it does not seem to have an option for Rez)
*.r -linguist-detectable

